# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.*
!.env.example
!.env.test

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# OS
.DS_Store
Thumbs.db

# UI
/ui/.svelte-kit
/ui/build

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Cursor
.cursor

# filaments
./filaments