[Unit]
Description=filaments chat server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/filaments
Restart=always
RestartSec=5
User=root
WorkingDirectory=/var/lib/myservice
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target